
/*Small- devices (Phone)*/

html {
  font-size: 14px;
  padding : 0px;
  margin : 0px;
  border : 0px;
}

body {
  font-family: sans-serif;
  text-align: justify;
  line-height: 2;
}

h1 { font-size: 2.5em; text-align: center; }
h2 { font-size: 2em; text-align: center; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

a {
  text-decoration: none;
  color: #0284c7;
}

a:hover a:focus{
  color: #075985;
}

#Jovian-logo {
  display : none;
}

#banner {
  height : 150px;
  object-fit: cover;
  width : 100%;
}

#about {
  display : flex;
  flex-direction : column;

}

#teamImage{
  height : 15em;
  width : 100%;
}

.form-group input,textarea{
  width : 100%;
}



.form-group input[type="checkbox"] {
  height: 16px;
  width: 16px;
}

.form-group input[type="submit"] {
  background-color: aliceblue;
}

input[type="submit"]:hover {
  background-color: rgb(54, 109, 158);
  color: white;
}

.application-form input,
select {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}


#jobs-table {
  display : none;
}

.job{
  padding-left : 10px;
  border : 1px solid skyblue;
  background-color: rgb(232, 243, 248);
  margin-bottom : 5px;
}

.job-detail {
  color: grey;
}

#jobs-table {
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse;
}

.header-row th {
  border: 1px solid grey;
  padding: 8px;
  background-color: #e0f2fe;
}

.data-points td {
  border-right: 1px solid grey;
  padding: 8px;
}

#jobs-table tr:nth-child(odd) {
  background-color: #f0f9ff;
}


#footer  {
  text-align : center;
  object-fit: cover;
  background-color: ghostwhite;
}

#footer-links {
  padding : 0px;
  list-style: none;
  padding-top: 5px;
}

#copyright {
  font-size : 0.8rem;
  color: lightgrey;
}



/* Small devices (tablets) */
@media screen and (min-width: 425px) {
  html{
    font-size : 16px;
  }

  #Jovian-logo {
    display : initial;
    height : 5em;
    width : 10em;
  }

  #solo-jovian-logo {
    display:none;
  }

  #banner {
    height: 250px;
    width: 100%;
  }

  #about {
    flex-direction : row;
  }

  #description {
    max-width : 40em;
  }

  #teamImage {
    padding-left : 8px;
    height : 20em;
    width : 20em;
    object-fit: cover;
    border-radius: 2em;
  }

  #jobs-table {
    display : table;
  }

  #jobs-list{
    display : none;
  }

  .form-group input,textarea{
    width : 45%;
  }
  

  #footer {
    padding: 0px;
    object-fit: cover;
    background-color: ghostwhite;
    text-align: center;
  }
  
  #footer-links {
    list-style: none;
    padding-top: 10px;
  }

  #footer-links li {
    display : inline;
    padding-right : 10px;
  }
  
  #copyright {
    font-size : 0.8em;
    color: lightgrey;
  }
  

}

/* Medium devices (laptops) */
@media screen and (min-width: 768px) {
  html{
    font-size : 20px;
  }

  #Jovian-logo {
    display : initial;
  }

  #solo-jovian-logo {
    display:none;
  }

  #Jovian-logo {
    height: 50px;
    width : 100px;
  }

  #banner {
    height: 350px;
    width: 100%;
  }

  #teamImage {
    height: 25em;
    width: 25em;
    padding : 10px;
    object-fit: cover;
    border-radius: 2em;
  }

  #about {
    flex-direction : row;
    width : 100%;
  }
  
  #footer {
    padding: 0px;
    object-fit: cover;
    background-color: ghostwhite;
    text-align: center;
  }
  
  #footer-links {
    list-style: none;
    padding-top: 10px;
  }

  #footer-links li {
    display: inline;
    text-align : center;
  }
  
  #copyright {
    font-size : 0.8em;
    color: lightgrey;
  }
  

}

/* Large devices (desktops) */
@media screen and (min-width: 1025px) {
  html{
    font-size : 20px;
  }

  #Jovian-logo {
    display : initial;
  }

  #solo-jovian-logo {
    display:none;
  }

  #Jovian-logo {
    height: 50px;
  }

  #banner {
    height: 500px;
    width: 100%;
  }

  #teamImage {
    height: 15em;
    width: 15em;
    object-fit: cover;
    border-radius: 20px;
  }

  #about {
    display: flex;
    padding: 0px 8px;
  }

  #footer {
    padding: 0px;
    object-fit: cover;
    background-color: ghostwhite;
    text-align: center;
  }
  
  #footer-links {
    list-style: none;
    padding-top: 40px;
  }

  #footer-links li {
    display: inline;
    padding-right: 80px;
  }
  
  #copyright {
    font-size : 0.8rem;
    color: lightgrey;
  }
  

}

/* Extra large devices (large desktops) */
@media screen and (min-width: 1440px) {
  html{
    font-size : 30px;
  }

  #Jovian-logo {
    display : initial;
  }

  #solo-jovian-logo {
    display:none;
  }

  #Jovian-logo {
    height: 100px;
  }

  #banner {
    height: 500px;
    width: 100%;
  }

  #teamImage {
    height: 20em;
    width: 20em;
    object-fit: cover;
    border-radius: 25px;
  }

  #about {
    display: flex;
    padding: 0px 8px;
  }
  
  #footer {
    padding-right: 50%;
    object-fit: cover;
    background-color: ghostwhite;
  }
  
  #footer-links {
    list-style: none;
    padding-top: 40px;
  }
  
  #footer-links li {
    display: inline;
    padding-right: 80px;
  }

  #copyright {
    font-size : 0.8rem;
    color: lightgrey;
  }
  

}
